<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/sign.css">
    <link rel="stylesheet" href="../public/style/sign.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>Sign Up Page</title>
</head>
<body>
    <div class="container">
        <div class="top">
            <h1 class="russo-one-regular">Selamat Datang, New</h1>
        </div>

        <div class="middle">
            <img class="book_kecil" src="/image/book_kecil.svg" alt="book_kecil">
        </div>

        <div class="bottom">
            <form class="Login" action="/auth/signup" method="post">
                <fieldset>
                    <div class="username">
                        <input class="field" type="text" name="email" placeholder="name@email" required autofocus>
                    </div>

                    <div class="username">
                        <input class="field" type="text" name="username" placeholder="Username" required autofocus>
                    </div>

                    <div class="password">
                        <input class="field-password field" type="password" name="password" placeholder="Password" required>
                    </div>

                    <div class="btn_wrap">
                        <button class="btn_up russo-one-regular" type="submit" name="submit">Sign Up</button>
                        <!-- <% if (locals.error) { %>
                            <span class="text-danger pl-2"><%= error %></span>
                        <% } %>  -->
                        <button class="btn_login russo-one-regular"><a href="/auth/login">Login</a></button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>